/* /////////// */
/* page header */
/* /////////// */
.pg-header {
    padding: 0.3rem 3rem;
    background: #262626;
}
.pg-header .logo-icon {
    float: left;
}
.pg-header .user-infor {
    float: right;
}
.pg-header .user-infor a {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
}
.pg-header .user-infor a.user-comment p {
    position: absolute;
    width: 24px;
    line-height: 16px;
    transform: translate(0, -50%);
    left: -70%;
    top: 15%;
    background: #D40000;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 10rem;
}
.pg-header .user-infor a.user-name span {
    font-size: 1rem;
    padding: 0 0.5rem;
    color: #ffffff;
    letter-spacing: 1px;
}
/* /////////// */
/* page footer */
/* /////////// */
.pg-footer {
    /* position: absolute;
    transform: translateX(-50%);
    left: 50%; */
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    line-height: 5;
    text-align: center;
}
/* /////////// */
/*   sidebar   */
/* /////////// */
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3F3F3F;
    color: #fff;
    transition: all 0.4s;
    text-align: left;
}
#sidebar.active {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
    z-index: 9999999;
}
#sidebar .sidebar-header {
    padding: 20px 15px 0;
    text-align: left;
}
#sidebar .sidebar-header .hambugar-icon {
    display: inline-block;
    cursor: pointer;
}
#sidebar .sidebar-header .search-box {
    padding: 14px 0;
    transition: all 0.3s;
}
/* search box */
#sidebar .sidebar-header .search-box img {
    display: none;
    cursor: pointer;
}
#sidebar .sidebar-header .search-box input[type="text"] {
    width: 95%;
    
    border: none;
    border-bottom: 1px solid #707070;
    background: url(../img/asset_10.png) 103% center no-repeat, transparent;
    font-size: 1.4rem;
    color: #fff;
    line-height: 2rem;
}
#sidebar ul.components {
    border-top: 1px solid #707070;
}
#sidebar ul.components li.f-layer {
    background: #3F3F3F;
    border-bottom: 1px solid #707070;
}

#sidebar ul li a {
    position: relative;
    padding: 0 0 0 19px;
    font-size: 1.6rem;
    line-height: 4rem;
    display: block;
    /* text-align: left; */
}
#sidebar ul li a:hover {
    color: #fff;
    background: #707070;
}
#sidebar ul li.select > a {
    color: #fff;
    background: #D40000;
}
#sidebar ul img {
    margin: auto;
    display: inline-block;
    vertical-align: sub;
}
#sidebar ul p {
    display: inline-block;
    color: #fff;
    padding: 0 0 0 3px;
}
ul ul a {
    color: #fff;
    line-height: 34px !important;
    padding-left: 45px !important;
}
ul ul a:hover,
ul ul a:focus {
    text-decoration: none;
}
/* collapse arrow */
#sidebar .dropdown-toggle::after {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    right: 10px;
    transform: translate(0, -50%) rotate(135deg);
    border-top: solid #fff 2px;
    border-right: solid #fff 2px;
    border-left: 0;
    border-bottom: 0;
    width: 8px;
    height: 8px;
    transition: all 0.4s;
}
#sidebar .dropdown-toggle.collapsed::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%) rotate(45deg);
    border-top: solid #fff 2px;
    border-right: solid #fff 2px;
    border-left: 0;
    border-bottom: 0;
    width: 8px;
    height: 8px;
    transition: all 0.4s;
}




/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar.active .sidebar-header .search-box img {
    display: block;
    /* margin: 2rem auto 0; */
}
#sidebar.active .dropdown-toggle::after,
#sidebar.active .dropdown-toggle.collapsed::after,
#sidebar.active ul p,
#sidebar.active .sidebar-header .search-box input[type="text"] {
    display: none;
}

#sidebar.active ul li a {
    padding: 0px 0px;
    /* display: inline-block; */
    /* text-align: center; */
}
#sidebar.active ul.components li.collapseItem ul.collapse a {
    display: none;
}
#sidebar.active ul.components li.collapseItem.subOpen ul.collapse a,
#sidebar.active ul.components li.collapseItem.select.subOpen ul.collapse a {
    display: block;
}
#sidebar.active ul.components {
    position: relative;
}
/* #sidebar.active ul li a */
#sidebar.active ul li.collapseItem.select {
    width: 60px;
}
/* #sidebar.active ul li.collapseItem.select, */
#sidebar.active ul li.collapseItem.subOpen,
#sidebar.active ul li.collapseItem.select.subOpen {
    width: 255px;
    background: #3F3F3F;
}
/* a[aria-expanded="true"] */
#sidebar.active ul li.collapseItem.subOpen a,
#sidebar.active ul li.collapseItem.subOpen a {
    /* width: 255px; */
    padding: 0 0 0 19px;
    text-align: left;
}
#sidebar.active ul li.collapseItem.select a.dropdown-toggle.collapsed,
#sidebar.active ul li.collapseItem.subOpen a.dropdown-toggle.collapsed {
    /* width: 60px; */
    /* padding: 0; */
    /* text-align: left; */
}
#sidebar.active ul li.collapseItem .collapse.in {
    display: none;
}
#sidebar.active ul li.collapseItem.select .collapse.in {
    display: none;
}
#sidebar.active ul li.collapseItem.subOpen .collapse.in,
#sidebar.active ul li.collapseItem.select.subOpen .collapse.in {
    /* width: 255px; */
    display: block;
}
#sidebar.active ul li.collapseItem.select a.dropdown-toggle > p {
    display: none;
}
#sidebar.active ul li.collapseItem.subOpen a.dropdown-toggle > p {
    display: inline-block;
}
#sidebar.active ul li.collapseItem.select a.dropdown-toggle.collapsed > p,
#sidebar.active ul li.collapseItem.subOpen a.dropdown-toggle.collapsed > p {
    display: none;
}
/* #sidebar.active ul li.collapseItem.select a.dropdown-toggle::after, */
#sidebar.active ul li.collapseItem.subOpen a.dropdown-toggle::after {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    right: 10px;
    transform: translate(0, -50%) rotate(135deg);
    border-top: solid #fff 2px;
    border-right: solid #fff 2px;
    border-left: 0;
    border-bottom: 0;
    width: 8px;
    height: 8px;
}
#sidebar.active ul li.collapseItem.select a.dropdown-toggle.collapsed::after
#sidebar.active ul li.collapseItem.subOpen a.dropdown-toggle.collapsed::after {
    display: none;
}
#sidebar.active ul li.collapseItem.select .collapse a,
#sidebar.active ul li.collapseItem.subOpen .collapse a {
    text-align: left;
}


/* searchBox */
#sidebar.active .sidebar-header .search-box.searchOpen {
    width: 255px;
    background: #3F3F3F;
    transition: all 0.3s;
}
#sidebar.active .sidebar-header .search-box.searchOpen input[type="text"] {
    display: block;
}
#sidebar.active .sidebar-header .search-box.searchOpen img {
    display: none;
}
@media (max-width: 768px) {

}

